

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<style>
  .jumbotron{
    background-image: url("assets/imgs/img1.jpg");
    height: 400px;
    margin-top: 10px;
  }
  .jumbotronh1{
   color: white;

  }
  .card-img-top{
    height: 80%;

  }
  </style>



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" routerLink="/HomePage">PowerHouseGym</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link" routerLink="/classes">Classes<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/Coaches">coaches <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <!-- <span class="navbar-text"> -->
      <div style="text-align: right;">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/Login">Login <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/SignUp">SignUp <span class="sr-only">(current)</span></a>
          </li>

      </ul>
      </div>
    <!-- </span> -->
  </div>
</nav>




<div class="container-sm">
        <div class="jumbotron">
          <h1 class="jumbotronh1">Welcome To Power House GYM</h1>
          <h4 class="jumbotronh1">Don't stop when You <strong>tired</strong> stop when You <strong>Done</strong></h4>
          <p class="jumbotronh1"> Never Give-Up </p>

        </div>

        <div class="row row-cols-1 row-cols-md-3">
          <div class="col mb-4">
            <div class="card h-100">
              <img src="assets/imgs/2.jpg" class="card-img-top" alt="Never Give-Up">
              <div class="card-body">
                <h5 class="card-title">Start yourself challenge</h5>
                <p class="card-text"><strong>No Pain No Gain</strong>.</p>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card h-100">
              <img src="assets/imgs/4.jpg" class="card-img-top"  alt="Never Give-up">
              <div class="card-body">
                <h5 class="card-title">be confident of yourself</h5>
                <p class="card-text"><strong>I Go to GYM to make my Soul Happy</strong>.</p>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card h-100">
              <img src="assets/imgs/images.jpg" class="card-img-top" alt="Never Give-Up">
              <div class="card-body">
                <h5 class="card-title">Believe in yourself</h5>
                <p class="card-text"><strong>Try and You'll find the way</strong>.</p>
              </div>
            </div>
          </div>

        </div>
</div>





